i 1 size 4096
i 1 block 16
i 1 ways 2
i 1 replace oldest
i 1 writeback yes
i 1 writealloc yes
d 1 size 4096
d 1 block 16
d 1 ways 2
d 1 replace oldest
d 1 writeback yes
d 1 writealloc yes
c 2 size 131072
c 2 block 64
c 2 ways 4
c 2 replace oldest
c 2 writeback yes
c 2 writealloc yes
