i 1 size 32768
i 1 block 64
i 1 ways 4
i 1 replace pseudo-LRU
i 1 writeback yes
i 1 writealloc yes
d 1 size 32768
d 1 block 64
d 1 ways 8
d 1 replace pseudo-LRU
d 1 writeback yes
d 1 writealloc yes
c 2 size 262144
c 2 block 64
c 2 ways 8
c 2 replace pseudo-LRU
c 2 writeback yes
c 2 writealloc yes
