i 1 size 65536
i 1 block 256
i 1 ways 4
i 1 replace oldest
i 1 writeback no
i 1 writealloc no
d 1 size 131072
d 1 block 256
d 1 ways 8
d 1 replace oldest
d 1 writeback no
d 1 writealloc no
c 2 size 1572864
c 2 block 256
c 2 ways 12
c 2 replace oldest
c 2 writeback no
c 2 writealloc no
